{% extends './nunj/layouts/master.nunj' %}
{% set title        = 'KCG' %}
{% set page         = 'home' %}
{% set header       = 'h-white' %}
{% set footer       = 'f-black' %}
{% set navigate     = '' %}

{% block content %}


<div class="home-bullets">
    <li data-target="#scroll-1" class="button b-bullet active">
      <div class="wrapper"></div>
    </li>
    <li data-target="#scroll-2" class="button b-bullet">
      <div class="wrapper"></div>
    </li>
    <li data-target="#scroll-3" class="button b-bullet">
      <div class="wrapper"> </div>
    </li>
    <li data-target="#scroll-4" class="button b-bullet">
      <div class="wrapper"></div>
    </li>
    <li data-target="#scroll-5" class="button b-bullet">
      <div class="wrapper"></div>
    </li>
</div>

<div class="scrolldown s-white">
  <span>SCROLL</span>
</div>

<div class="home-content" style="background-color:#141515;">
  <div class="shape s-desktop">
    <figure style="background-image:url(assets/home/shape-1.png);"></figure>
  </div>
  <div class="shape s-mobile">
    <figure style="background-image:url(assets/home/shape-1-mobile.png);"></figure>
  </div>
  <div class="circle"></div>
  <div id="canvas" class="canvas"></div>
  <div class="inner">
    <div class="col col-1"></div>
    <div class="col col-3">
      <div class="title t-white">
        WE ARE AN INTERNATIONAL <strong>COLLABORATIVE OF TALENT</strong>
      </div>
    </div>
    <div class="col col-6"></div>
    <div class="col col-2">
      <div class="infos">
        <p class="paragraph p-rigth p-white">We transverse global boundaries to help our clients build a better world.</p>
        <a href="about.html" class="button">
          <div class="wrapper">
            <div class="background"></div>
            <span class="text">READ ABOUT US</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="home-content" style="background-color:#2D3294;">
  <div class="shape s-desktop">
    <figure style="background-image:url(assets/home/shape-2.png);"></figure>
  </div>
  <div class="shape s-mobile"> 
    <figure style="background-image:url(assets/home/shape-2-mobile.png);"></figure>
  </div>
  <div class="inner">
    <div class="col col-1"></div>
    <div class="col col-4">
      <div class="title t-white">
        WE DELIVER <strong>SPECIALIZED STRATEGIES</strong> TO REACH YOUR GOALS
      </div>
    </div>
    <div class="col col-5"></div>
    <div class="col col-2">
      <div class="infos">
        <p class="paragraph p-rigth p-white">Our global team helps you to launch into new areas with expert guidance.</p>
        <a href="" class="button">
          <div class="wrapper">
            <div class="background"></div>
            <span class="text">Our Solutions</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="home-content" style="background-color:#B27EE4;">
  <div class="shape s-desktop">
    <figure style="background-image:url(assets/home/shape-3.png);"></figure>
  </div>
  <div class="shape s-mobile">
    <figure style="background-image:url(assets/home/shape-3-mobile.png);"></figure>
  </div>
  <div class="inner">
    <div class="col col-1"></div>
    <div class="col col-4">
      <div class="title t-white">
        WE CREATE <strong>INTELLIGENT CONTENT</strong> TO CAPTURE HEARTS
      </div>
    </div>
    <div class="col col-5"></div>
    <div class="col col-2">
      <div class="infos">
        <p class="paragraph p-rigth p-white">We generate content that not only gets viewed but shared, time and time again.</p>
        <a href="" class="button">
          <div class="wrapper">
            <div class="background"></div>
            <span class="text">Our Solutions</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="home-content" style="background-color:#4C9F91;">
  <div class="shape s-desktop">
    <figure style="background-image:url(assets/home/shape-4.png);"></figure>
  </div>
  <div class="shape s-mobile">
    <figure style="background-image:url(assets/home/shape-4-mobile.png);"></figure>
  </div>
  <div class="inner">
    <div class="col col-1"></div>
    <div class="col col-4">
      <div class="title t-white">
        WE DEVELOP PRODUCTS TO HELP YOU <strong>CHANGE THE WORLD</strong>
      </div>
    </div>
    <div class="col col-5"></div>
    <div class="col col-2">
      <div class="infos">
        <p class="paragraph p-rigth p-white">We work with you to design and create products that grow your business.</p>
        <a href="" class="button">
          <div class="wrapper">
            <div class="background"></div>
            <span class="text">Our Solutions</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="home-content" style="background-color:#FFFFFF;">
  <div class="inner">
    <div class="col col-1"></div>
    <div class="col col-4">
      <div class="title">
        WE WORK WITH THESE <strong>GREAT PEOPLE</strong>
      </div>
    </div>
    <div class="col col-1"></div>
    <div class="col col-6 c-clients">
      <div class="clients c-home">
        <div class="wrapper">
          <div class="line">
            <div class="logos">
              {% for u in range(0,12) %}
              <img class="image" src="assets/clients/logo-{{u+1}}.png" />
              {% endfor %}
            </div>
            <div class="logos">
              {% for u in range(0,12) %}
              <img class="image" src="assets/clients/logo-{{u+1}}.png" />
              {% endfor %}
            </div>
          </div>
          <div class="line">
            <div class="logos">
              {% for u in range(0,12) %}
              <img class="image" src="assets/clients/logo-{{u+1}}.png" />
              {% endfor %}
            </div>
            <div class="logos">
              {% for u in range(0,12) %}
              <img class="image" src="assets/clients/logo-{{u+1}}.png" />
              {% endfor %}
            </div>
          </div>
          <div class="line">
            <div class="logos">
              {% for u in range(0,12) %}
              <img class="image" src="assets/clients/logo-{{u+1}}.png" />
              {% endfor %}
            </div>
            <div class="logos">
              {% for u in range(0,12) %}
              <img class="image" src="assets/clients/logo-{{u+1}}.png" />
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<script type="module">
  import {init, resize} from "./js/earth.js";
  window.onload     = init;
  window.onresize   = resize;
</script>

{% endblock %}