{% extends "./layouts/main.njk" %}
{% set title        = 'KCG' %}
{% set page         = 'service' %}
{% set header       = 'h-white' %}
{% set footer       = '' %}


{% block content %}


<!-- BEGIN SECTION -->
<section class="section-content">

  <div class="scrolldown s-white">
    <span>SCROLL</span>
  </div>

  <div class="services-content sc-slides">

    <div class="services-bckg"></div>

    <div class="infos i-service" data-color="#B27EE4" id="slide-1" style="background-image:url(assets/services/webdoor.png);">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-1">
            <a href="services.html" class="button b-icon b-white">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </a>
          </div>
          <div class="col col-4">
            <div class="caption c-white"><span>MARKETING</span></div>
            <h1 class="title t-medium t-white" ><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></h1>
            <div class="paragraph p-white">Nam non mi at sem convallis pellentesque. Curabitur convallis id nisi et fermentum. Curabitur in semper dolor.</div>
            <a href="" class="button b-white b-marginT">
              <div class="wrapper">
                  <span class="text">Learn More</span>
                </div>
            </a>
          </div>
          <div class="col col-6">
            <div class="image-services">
              <img src="assets/services/marketing.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="infos" data-color="#B27EE4" id="slide-2">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-9">
            <div class="caption c-white"><span>Solutions</span></div>

            <h3 class="subtitle sb-right sb-white">Integer luctus, leo et luctus ultrices, orci nibh aliquet magna, placerat aliquet sapien neque id orci. Nullam quam ligula, luctus quis condimentum vel, consectetur in metus.</h3>

            <div class="paragraph p-white">
              Duis pretium velit id lectus rutrum, sit amet viverra dolor lobortis. Fusce euismod gravida tortor, congue maximus dui dictum non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In sollicitudin augue at commodo sodales.
              <br><br>
              Aliquam aliquam commodo pretium. Vivamus finibus, est a feugiat hendrerit, urna tortor facilisis turpis, eu accumsan nisi ex a dui.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="infos" data-color="#B27EE4" id="slide-3">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-9">
            <div class="services-items">
              <div class="item">
                <div class="wrapper">
                  <div class="si-type">Lorem Ipsum</div>
                  <ul>
                    <li>• Lorem Ipsum</li>
                    <li>• Lorem Ipsum</li>
                    <li>• Lorem Ipsum</li>
                    <li>• Lorem Ipsum</li>
                    <li>• Lorem Ipsum</li>
                  </ul>
                </div>
              </div>
              
              <div class="item">
                <div class="wrapper">
                  <div class="si-type">Lorem Ipsum</div>
                  <ul>
                    <li>• Lorem Ipsum</li>
                    <li>• Lorem Ipsum</li>
                    <li>• Lorem Ipsum</li>
                    <li>• Lorem Ipsum</li>
                    <li>• Lorem Ipsum</li>
                  </ul>
                </div>
              </div>

              <div class="item">
                <div class="wrapper">
                  <div class="si-type">Lorem Ipsum</div>
                  <ul>
                    <li>• Lorem Ipsum</li>
                    <li>• Lorem Ipsum</li>
                    <li>• Lorem Ipsum</li>
                    <li>• Lorem Ipsum</li>
                    <li>• Lorem Ipsum</li>
                  </ul>
                </div>
              </div>

              <div class="item">
                <div class="wrapper">
                  <div class="si-type">Lorem Ipsum</div>
                  <ul>
                    <li>• Lorem Ipsum</li>
                    <li>• Lorem Ipsum</li>
                    <li>• Lorem Ipsum</li>
                    <li>• Lorem Ipsum</li>
                    <li>• Lorem Ipsum</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="services-content sc-testimonials">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-9 c-testimonial">
          <div class="testimonial">
            <div class="slides">
            {% for u in range(0,12) %}
              <div class="item">
                <div class="wrapper">
                  <div class="stars svg"></div>  
                  <p class="phrase">"You're probably luckier to have them<br>than they are to have you."</p>
                  <div class="info">
                    <img class="photo" src="assets/photos/person-7.png" alt="" />
                    <span class="name">PHIL P</span>
                    <span class="occupation">Founder The Swoup App</span>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            
            <div class="button b-black b-icon t-prev">
              <div class="wrapper">
                <div class="arrow svg a-left"></div>
              </div>
            </div>
            <div class="button b-black b-icon t-next">
              <div class="wrapper">
                <div class="arrow svg a-right"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="services-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-11">
          <div class="services-download" style="background-image:url(assets/services/background.jpg);">
            <div class="wrapper">
              <div class="title t-small t-white">
                Want to learn more about our Strategy Solutions?<br>
                <strong>Download a pdf with more information</strong>
              </div>
              <a href="" class="button b-icon b-white">
                <span class="label">DOWNLOAD PDF</span>
                <div class="wrapper">
                  <div class="arrow svg a-45"></div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="works-content w-borderT">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col col-11">
          <div class="caption">
            <span>Related Cases</span>
            <a href="" class="button b-black b-icon">
              <span class="label">SEE ALL</span>
              <div class="wrapper">
                <div class="arrow svg a-right"></div>
              </div>
            </a>
          </div>
          <div class="works-list">
            {% for u in range(0,3) %}
            <a href="work.html" class="item">
              <div class="wrapper">
                <img class="image" src="assets/works/work-{{(u%6)+1}}.png" alt="" />
                <div class="infos">
                  <div class="name">Eirik Lyng</div>
                  <div class="type">Social Media</div>
                </div>
              </div>
            </a>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- END SECTION -->

{% endblock %}