
@font-face {
    font-family:"Blacker Sans Pro Medium";
    src:url("BlackerSansPro-Medium.woff2") format("woff2"),url("BlackerSansPro-Medium.woff") format("woff"),url("BlackerSansPro-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        